<!-- views/index.ejs -->  
<!DOCTYPE html>  
<html lang="fr">  
<head>  
    <link rel="stylesheet" href="/public/bootstrap.css">
    <link rel="stylesheet" href="/public/style.css">
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Gestion des Tâches</title>  
</head>  
<body> 
    <div class="container">
    <h1 class="text-center bg-success">Liste des Tâches</h1>  
    <ul>  
        <% taches.forEach((tache, index) => { %>  
            <li>  
                <!-- si la tache est terminée  ou pas -->
                <%= tache.terminee ? '✔️' : '❌' %> <%= tache.titre %>  
                <% if (!tache.terminee) { %>  
                    <form action="/completer/<%= index %>" method="POST" style="display:inline;">  
                        <button class="btn btn-success" type="submit">Compléter</button>  
                    </form>  
                <% } %>  
            </li>  
        <% }); %>  
    </ul>  

</div> 

    <h2>Ajouter une Tâche</h2>  
    <form action="/ajouter" method="POST">  
        <input type="text" name="titre" required />  
        <button type="submit">Ajouter</button>  
    </form>  
</body>  
</html>  